body {
  background-color: rgb(47,49,54);
}

p.copy {
  position: relative;
  top: 50px;
  color: white;
}
p.first {
  color: white;
}

h2.first {
  color: white;
}

.buttonHome {
  display: flex;
  justify-content: center;
}

.user-tile:hover {
  box-shadow: 5px 10px 10px rgb(206, 206, 206) !important;
}

.user-tile:active {
  background-color: rgb(238, 238, 238) !important;
}

.git-link {
  color:black;
}

.git-link:hover {
  color:black;
}

/* Tablet view */
@media (min-width: 500px) and (max-width: 1000px) {
  .logo {
    text-align: center;
  }
  .col-lg-6 {
    text-align: left;
  }
}