<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>GamR | About Us</title>
  <link rel="shortcut icon" href="images/favicon.ico" />

  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous" />
  <!-- Our Custom CSS -->
  <link rel="stylesheet" href="/css/about.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

  <!-- Font Awesome CSS` -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />

  <!-- Font Awesome JS -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
    integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous">
  </script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
    integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous">
  </script>
</head>

<body>
  <!-- Header -->
  <div>
    <div class="container py-5">
      <div class="logo">
        <div class="row align-items-center mb-5">
          <!-- Team description -->
          <div class="col-lg-6 order-2 order-lg-1">
            <h2 class="font-weight-light first"><b>Who are we?</b></h2>
            <p class="first">
              We are a group of BCIT students who came together with the idea
              of combating social isolation caused by COVID-19.
            </p>
          </div>
          <!-- Logo 1 -->
          <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2">
            <img src="images/gamr2.png" alt="" class="img-fluid mb-4 mb-lg-0" />
          </div>
        </div>
      </div>
      <div class="logo">
        <div class="row align-items-center">
          <!-- Logo 2 -->
          <div class="col-lg-5 px-5 mx-auto">
            <img src="images/gamr.png" alt="" class="img-fluid mb-4 mb-lg-0" />
          </div>
          <!-- App description -->
          <div class="col-lg-6">
            <h2 class="font-weight-light first"><b>What is GamR?</b></h2>
            <p class="first">
              GamR is a web app designed to help gamers find and connect with
              other gamers online. We understand that connecting with new
              people can be nerve-wracking and so, we have implemented chat
              rooms to let you get acquainted before jumping into the gaming
              world together. Stay connected GamRs!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Body -->
  <div class="bg-light py-5">
    <div class="container py-5">
      <div class="row mb-4">
        <!-- Team title -->
        <div class="col-lg-5">
          <h2 class="display-4 font-weight-light">Our team</h2>
          <p class="font-italic text-muted">Meet the people behind GamR.</p>
        </div>
      </div>

      <!-- Team item -->
      <div class="row text-center">
        <!-- Team item 1 (Zak) -->
        <div class="col-m-3 col-sm-6 mb-3">
          <a class="git-link" href="https://github.com/osmonium-17">
            <div class="user-tile bg-white rounded shadow-sm py-5 px-4">
              <i class="fab fa-github fa-3x"></i>
              <h5 class="mb-0">Zak Osman</h5>
              <p>1st term BCIT student</p>

            </div>

        </div>

        <!-- End -->

        <!-- Team item 2 (Manpreet) -->
        <div class="col-m-3 col-sm-6 mb-3">
          <a class="git-link" href="https://github.com/zero-one-two">
            <div class="user-tile bg-white rounded shadow-sm py-5 px-4">
              <i class="fab fa-github fa-3x"></i>
              <h5 class="mb-0">Manpreet Gill</h5>
              <p>1st term BCIT student</p>
            </div>
          </a>
        </div>
        <!-- End -->

        <!-- Team item 3 (Eunsaem) -->
        <div class="col-m-3 col-sm-6 mb-3">
          <a class="git-link" href="https://github.com/eunsaemy">
            <div class="user-tile bg-white rounded shadow-sm py-5 px-4">
              <i class="fab fa-github fa-3x"></i>
              <h5 class="mb-0">Eunsaem Lee</h5>
              <p>2nd term BCIT student</p>
            </div>
          </a>
        </div>
        <!-- End -->

        <!-- Team item 4 (Zoltan) -->
        <div class="col-m-3 col-sm-6 mb-3">
          <a class="git-link" href="https://github.com/zoltanbi">
            <div class="user-tile bg-white rounded shadow-sm py-5 px-4">
              <i class="fab fa-github fa-3x"></i>
              <h5 class="mb-0">Zoltan Biro</h5>
              <p>2nd term BCIT student</p>
            </div>
          </a>
        </div>
        <!-- End -->
      </div>
    </div>
    <div class="d-flex next-but buttonHome"><a class="btn btn-primary" href="/main" role="button">Back to Home</a></div>
  </div>

  <!-- Footer -->
  <footer class="pb-5">
    <div class="container text-center">
      <p class="copy">&copy; Copyrights GamR All rights reserved.</p>
    </div>
  </footer>

  <!-- jQuery CDN - Slim version (=without AJAX) -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <!-- Popper.JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
    integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous">
  </script>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
    integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous">
  </script>
</body>

</html>