<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>GamR | Select Platform</title>
	<link rel="shortcut icon" href="../images/favicon.ico">

	<!-- Bootstrap CSS CDN -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
		integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<!-- Our Custom CSS -->
	<link rel="stylesheet" href="/css/platform.css">

	<!-- Font Awesome JS -->
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
		integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous">
	</script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
		integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous">
	</script>
</head>

<body>
	<div class="whitebox shadow-sm p-3 mb-5 bg-white rounded">
		<div class="container">
			<!-- Logo -->
			<div class="row">
				<div class="col">
					<img src="/public/images/logo.png" class="mx-auto d-block">
				</div>
			</div>

			<!-- Platform choices -->
			<div class="row">
				<div class="col">
					<h2 class="text-center">SELECT YOUR MAIN PLATFORMS</h2>
				</div>
				<br>
			</div>
			<br>
			<div class="row">
				<!-- PC -->
				<div class="col-4">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="/public/images/pc.png" alt="PC">
						<div class="card-body">
							<p class="card-text">PC</p>
						</div>
					</div>
				</div>
				<!-- End -->

				<!-- Console -->
				<div class="col-4">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="/public/images/Console.png" alt="Console">
						<div class="card-body">
							<p class="card-text">Console</p>
						</div>
					</div>
				</div>
				<!-- End -->

				<!-- Mobile -->
				<div class="col-4">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="/public/images/Mobile.png" alt="Mobile">
						<div class="card-body">
							<p class="card-text">Mobile</p>
						</div>
					</div>
				</div>
				<!-- End -->
			</div>
		</div>

		<!-- NEXT button -->
		<div class="d-flex next-but buttonHome"><a class="btn btn-primary" href="#" role="button">Next</a></div>
	</div>

	<!-- jQuery CDN - Slim version (=without AJAX) -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
	</script>
	<!-- Popper.JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
		integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous">
	</script>
	<!-- Bootstrap JS -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
		integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous">
	</script>
</body>
</html>